.talks-container
  width: 55%
  height: calc(100vh - 110px)
  margin: 20px auto 0
  box-sizing: border-box
  padding: 20px
  +box-shadow (0, 0, 5px, 0, rgba(0,0,0,0.15))
  @media ($mnw: $xsdmn) and ($mxw: $xsdmx)
    width: 100%
    padding: 5px
    margin: 0

.talks
  height: 100%

  &__header
    border-bottom: 1px solid $sharp-blue

  &__button
    width: 140px
    margin: 0 10px 10px 0
    @media ($mnw: $xsdmn) and ($mxw: $xsdmx)
      margin: 10px auto

.data-table-talks