<div class="pop-up-wrapper">
  <div class="pop-up pop-up_big">
    <h3 class="pop-up__title">Talk</h3>
    <button class="pop-up__close" ng-click="$ctrl.closeCheck()"></button>
    <form class="new-talk" name="$ctrl.form" novalidate ng-submit="$ctrl.save()">
      <label for="edit-talk-title" class="form-label"
             ng-class="$ctrl.editable ? 'form-label_required' : ''">
        title
      </label>
      <input type="text"
             class="field field_border"
             maxlength="250"
             ng-required="$ctrl.editable"
             ng-disabled="!$ctrl.editable"
             ng-model="$ctrl.obj.title">

      <label for="edit-talk-desc" class="form-label"
             ng-class="$ctrl.editable ? 'form-label_required' : ''">
        description
      </label>
      <textarea id="edit-talk-desc"
                class="textarea"
                maxlength="3000"
                ng-required="$ctrl.editable"
                ng-disabled="!$ctrl.editable"
                ng-model="$ctrl.obj.description">
      </textarea>

      <label for="edit-talk-topic" class="form-label"
             ng-class="$ctrl.editable ? 'form-label_required' : ''">
        topic
      </label>
      <select name="edit-talk-topic" class="new-talk__select"
              ng-if="$ctrl.editable"
              ng-required="true"
              ng-disabled="!$ctrl.editable"
              ng-model="$ctrl.obj.topic"
              ng-options="topic.name as topic.name for topic in $ctrl.topics | orderBy: 'name'">
      </select>
      <input type="text"
             class="field field_border"
             ng-if="!$ctrl.editable"
             ng-disabled="!$ctrl.editable"
             ng-model="$ctrl.obj.topic">

      <label class="form-label"
             ng-class="$ctrl.editable ? 'form-label_required' : ''">
        type
      </label>
      <select class="new-talk__select"
              ng-if="$ctrl.editable"
              ng-required="true"
              ng-model="$ctrl.obj.type"
              ng-options="type.name as type.name for type in $ctrl.types | orderBy: 'id'">
      </select>
      <input type="text"
             class="field field_border"
             ng-if="!$ctrl.editable"
             ng-disabled="!$ctrl.editable"
             ng-model="$ctrl.obj.type">

      <label class="form-label"
             ng-class="$ctrl.editable ? 'form-label_required' : ''">
        language
      </label>
      <select class="new-talk__select"
              ng-if="$ctrl.editable"
              ng-required="true"
              ng-model="$ctrl.obj.lang"
              ng-options="lang.name as lang.name for lang in $ctrl.langs | orderBy: 'id'">
      </select>
      <input type="text"
             class="field field_border"
             ng-if="!$ctrl.editable"
             ng-disabled="!$ctrl.editable"
             ng-model="$ctrl.obj.lang">

      <label class="form-label"
             ng-class="$ctrl.editable ? 'form-label_required' : ''">
        level
      </label>
      <select class="new-talk__select"
              ng-if="$ctrl.editable"
              ng-required="true"
              ng-model="$ctrl.obj.level"
              ng-options="level.name as level.name for level in $ctrl.levels | orderBy: 'id'">
      </select>
      <input type="text"
             class="field field_border"
             ng-if="!$ctrl.editable"
             ng-disabled="!$ctrl.editable"
             ng-model="$ctrl.obj.level">

      <div ng-if="$ctrl.fileNameObj.fileName">
        <span class="icon icon_attach"></span>
        <a class="form-link link" ng-href="/talk/{{ $ctrl.talk.id }}/takeFile">{{ $ctrl.fileNameObj.fileName }}</a>

        <a class="form-link link"
           ng-if="$ctrl.editable"
           ng-click="$ctrl.confirmDeleteFile()">
          <span class="icon icon_delete icon-small icon-small-margin-left"></span>
        </a>
      </div>
      <div ng-if="!$ctrl.fileNameObj.fileName">
        <label class="form-label">
          file upload
          <md-icon class="icon icon_info">
            <md-tooltip md-direction="right" class="tooltip">
              You can add an attachment of your talk here and insert a link to it in the Additional Info field.<br>
              Allowed formats are docx, pdf, pptx, ppt, odp and maximum size is 300 Mb.
            </md-tooltip>
          </md-icon>
        </label>

        <label ng-class="$ctrl.fileLabelClass">
          <span class="btn file-upload__button file-upload__button_named"></span>
          <span class="file-upload__filename">{{ $ctrl.file.name }}</span>

          <input type="file"
                 class="file-upload__uploading"
                 ng-model="$ctrl.file"
                 ngf-select
                 ngf-max-size="300MB"
                 ngf-min-size="1"
                 ngf-pattern="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/mspowerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/pdf,application/vnd.oasis.opendocument.presentation,application/x-vnd.oasis.opendocument.presentation"
                 accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/mspowerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/pdf,application/vnd.oasis.opendocument.presentation,application/x-vnd.oasis.opendocument.presentation"
                 name="file">
        </label>
        <span class="field-error" ng-show="$ctrl.form.$error.pattern">
          We could not understand the contents of your file. Make sure it is docx, pdf, pptx, ppt or odp.
        </span>
        <span class="field-error" ng-show="$ctrl.form.$error.maxSize">
          You exceeded the maximum allowed size of 300 MB. Please make another choice.
        </span>
      </div>

      <label for="new-talk-add-inf" class="form-label">
        additional info
      </label>
      <textarea class="textarea"
                ng-disabled="!$ctrl.editable"
                maxlength="1500"
                ng-model="$ctrl.obj.addon">
      </textarea>

      <label for="new-talk-add-inf" class="form-label" ng-if="!$ctrl.new">
        organizer's comments
      </label>
      <textarea class="textarea" name="comment"
                disabled
                ng-model="$ctrl.obj.comment"
                maxlength="1000"
                ng-if="!$ctrl.new">
      </textarea>

      <span class="field-error" ng-show="$ctrl.submitAttempt && $ctrl.form.$error.required">
        Please fill in all mandatory fields
      </span>

      <div class="pop-up-button-wrapper pop-up-button-wrapper_wrap">
        <button type="submit" class="btn pop-up__button" ng-if="$ctrl.editable">update</button>
        <button type="button" class="btn pop-up__button" ng-if="!$ctrl.editable" ng-click="$ctrl.close()">close</button>
      </div>
    </form>
  </div>
</div>

<div class="pop-up-wrapper" ng-show="$ctrl.confirmShown">
  <div class="pop-up">
    <h3 class="pop-up__title">Confirm</h3>
    <button class="pop-up__close" ng-click="$ctrl.hideConfirm()"></button>
    <p class="pop-up__notification">Are you sure you want to leave the window?</p>
    <p class="pop-up__notification pop-up__notification_light pop-up__notification_not-margin">Click 'Yes' to leave and all your changes will lost.</p>
    <p class="pop-up__notification pop-up__notification_light pop-up__notification_not-margin">Click 'No' to return and Submit/Update your changes</p>
    <div class="pop-up-button-wrapper">
      <button class="btn pop-up__button" ng-click="$ctrl.close()">Yes</button>
      <button class="btn btn__cancel pop-up__button" ng-click="$ctrl.hideConfirm()">No</button>
    </div>
  </div>
</div>

<div class="pop-up-wrapper" ng-show="$ctrl.confirmDeleteFileShown">
  <div class="pop-up">
    <h3 class="pop-up__title">Confirm</h3>
    <button class="pop-up__close" ng-click="$ctrl.hideConfirmDeleteFile()"></button>
    <p class="pop-up__notification">Are you sure you want to delete this file?</p>
    <div class="pop-up-button-wrapper">
      <button class="btn pop-up__button" ng-click="$ctrl.deleteFile()">Yes</button>
      <button class="btn btn__cancel pop-up__button" ng-click="$ctrl.hideConfirmDeleteFile()">No</button>
    </div>
  </div>
</div>