<div class="my-info__ava" ngf-background="$ctrl.ava || $ctrl.user.photo || $ctrl.defaultImage">
  <input type="button" class="my-info__remove" ng-click="$ctrl.askToDeletePhoto()">
  <div class="slide">
    <input type="button" class="slide__button" value="{{ $ctrl.currentPhotoStatus.button }}" ng-click="$ctrl.toggleSlide()">
  </div>
</div>

<div class="pop-up-wrapper" ng-show="$ctrl.showLoad">
  <div class="pop-up" ng-show="!$ctrl.uploadPreview">
    <h3 class="pop-up__title">{{$ctrl.currentPhotoStatus.title}}</h3>
    <button class="pop-up__close" ng-click="$ctrl.toggleSlide()"></button>
    <form novalidate
          name="$ctrl.uploadForm">
      <div
        ngf-drop="$ctrl.downloadByDrag()"
        ng-model="$ctrl.file"
        ngf-max-size="2MB"
        ngf-min-size="1"
        ngf-pattern="image/jpeg,image/png,image/gif"
        required
        name="dragfile">

        <p class="pop-up__notification pop-up__notification_light">
          It is much easier to identify you if you have a photo.
        </p>

        <p class="pop-up__notification pop-up__notification_light">
          You can upload an image in JPG, PNG or GIF format. The maximum allowed size for uploads is 2 Mb
        </p>

        <label class="file-upload">
          <span class="btn file-upload__button">
            Choose
          </span>
          <input type="file"
                 class="file-upload__uploading"
                 ng-model="$ctrl.file"
                 required
                 ngf-select="$ctrl.downloadBySelect()"
                 ngf-max-size="2MB"
                 ngf-min-size="1"
                 ngf-pattern="image/jpeg,image/png,image/gif"
                 accept="image/jpeg,image/png,image/gif"
                 name="file"
          >

        </label>
        <p ng-if="$ctrl.uploadForm.file.$error.maxSize || $ctrl.uploadForm.dragfile.$error.maxSize" class="field-error field-error_center">
          You exceeded maximum allowed size for uploaded photo (2Mb)
        </p>
        <p ng-if="$ctrl.uploadForm.file.$error.minSize || $ctrl.uploadForm.dragfile.$error.minSize" class="field-error field-error_center">
          You try to upload an empty file
        </p>
        <p ng-if="$ctrl.uploadForm.file.$error.pattern || $ctrl.uploadForm.dragfile.$error.pattern" class="field-error field-error_center">
          We could not understand the contents of your file. Make sure it is a jpg, gif or png formatted image.
        </p>
        <p ng-if="$ctrl.uploadForm.file.$error.save || $ctrl.uploadForm.dragfile.$error.save" class="field-error field-error_center">
          Sorry we can`t save Your photo try do change it some later.
        </p>
      </div>
    </form>
  </div>

  <div class="pop-up" ng-show="$ctrl.uploadPreview">
    <h3 class="pop-up__title">Photo preview</h3>

    <p class="pop-up__notification">
      It is how a selected photo will look on the My Info page.
    </p>

    <div class="preview-wrapper">
      <div class="preview" ngf-background="$ctrl.file"></div>
      <div class="load-animation" ng-show="$ctrl.animation">
        <div class="squaresWaveG squaresWaveG_1"></div>
        <div class="squaresWaveG squaresWaveG_2"></div>
        <div class="squaresWaveG squaresWaveG_3"></div>
        <div class="squaresWaveG squaresWaveG_4"></div>
        <div class="squaresWaveG squaresWaveG_5"></div>
      </div>
    </div>

    <p class="pop-up__notification pop-up__notification_light">
      By clicking on the Save button your changes will be saved and you will see your photo on the My Info page.
    </p>
    <p class="pop-up__notification pop-up__notification_light">
      By clicking on the Cancel button you will be redirected to the Upload new photo window.
    </p>

    <div class="pop-up-button-wrapper">
      <input type="button" value="Save" class="btn"
             ng-click="$ctrl.uploadAva()">
      <input type="button" value="Cancel" class="btn btn_cancel"
             ng-click="$ctrl.togglePreview()">
    </div>
    <button class="pop-up__close" ng-click="$ctrl.togglePreview()"></button>
  </div>
</div>

<!-- deleting photo pop-up -->
<div class="pop-up-wrapper" ng-if="$ctrl.deletePreview">
  <div class="pop-up">
    <h3 class="pop-up__title">Delete Photo</h3>

    <p class="pop-up__notification">
      Are you sure you want to delete a photo?
    </p>

    <p ng-if="$ctrl.deleteMessage" class="field-error field-error_center">
      Sorry we can`t delete your photo. Try later.
    </p>

    <div class="pop-up-button-wrapper">
      <input type="button" value="Cancel" class="btn"
             ng-click="$ctrl.toggleDeletePreview()">
      <input type="button" value="Delete" class="btn btn_cancel"
             ng-click="$ctrl.deletePhoto()">
    </div>
    <button class="pop-up__close" ng-click="$ctrl.toggleDeletePreview()"></button>
  </div>
</div>