.pop-up-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	overflow: auto;
	z-index: 2;
	background: rgba(51, 51, 51, 0.35);
}
.pop-up {

	position: relative;
	width: 450px;
	margin: auto 0;
	background: white;

	@media ($mxw:$sdmx) {
		width: 300px
	}

	&__title {
		width: 100%;
		box-sizing: border-box;
		font-family: "Oswald Regular", sans-serif;
		font-size: 18px;
		font-weight: normal;
		background: $light-grey;
		text-transform: capitalize;
		padding: 15px;
		margin: 0;
	}

	&__notification {
		display: block;
		margin: 10px;
		text-align: center;

		//& _light {
		//	font-family: "Oswald Light", sans-serif;
		//}
		//& _not-margin {
		//	margin: 0;
		//}
	}

	&__input {
		width: 90%;
		margin: auto;
		border: $border;
	}

	&__button {
		width: 45%;
		margin: 10px auto 15px
	}

	&-button-wrapper {
		display: flex;
		justify-content: space-around;
		margin: 15px;
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 20px;
		height: 20px;
		border: 0;
		background-color: transparent;
		background-image: url("assets/img/close-icon.svg");
		background-position: center;
		background-repeat: no-repeat;

		&:active {
			outline: none;
		}
	}

}

.error-title_pop-up {
	text-align: center;
}
