<div class="sign-in-wrapper">
  <form class="sign-in">
    <h2 class="sign-in__title">sing in</h2>
    <p class="sign-in__field-title">email:</p>
    <input type="email"
           class="sign-in__field error">
    <p class="error-title">We can not find an account with that email address</p>
    <div class="sign-in__password-cont">
      <p class="sign-in__field-title">password:</p>
      <a href="" class="sign-in__forgot">forgot password?</a>
    </div>
    <input type="password"
           class="sign-in__field">

    <p class="error-title">Your password is incorrect</p>

    <input type="submit"
           value="Sing In"
           class="btn sign-in__submit">
  </form>
  
  <div class="sign-in__separator"></div>

  <a href="#" class="btn sign-in__create">create new account</a>
</div>