<div class="sign-in-wrapper">
  <form class="sign-in" name="signInCtrl.userForm" novalidate ng-submit="signInCtrl.login()">
    <h2 class="sign-in__title">sign in</h2>
    <p class="sign-in__field-title">email:</p>
    <input type="email"
           name="mail"
           class="sign-in__field"
           ng-model="signInCtrl.user.mail"
           ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,6}$/i"
           required>
    <p class="error-title" ng-if="signInCtrl.userForm.mail.$error.login_auth_err">We can not find an account with that email address</p>
    <div class="sign-in__password-cont">
      <p class="sign-in__field-title">password:</p>
      <a href="#" class="sign-in__forgot">forgot password?</a>
    </div>
    <input type="password"
           name="password"
           class="sign-in__field"
           ng-model="signInCtrl.user.password"
           minlength="6" maxlength="30"
           required>
    <p class="error-title" ng-if="signInCtrl.userForm.password.$error.password_auth_err">Your password is incorrect</p>

    <input type="submit"
           value="Sign In"
           class="btn sign-in__submit">
  </form>
  
  <div class="sign-in__separator"></div>

  <a ui-sref="header.sign-up" class="btn sign-in__create">create new account</a>
</div>