<div class="my-talks">
    <div class="my-talks__header">
        <input type="button" value="submit new talk" class="btn my-talks__button">
    </div>
    <div class="my-talk-settings">

    </div>
    <div class="data-table">
        <div class="table-header">
            <div class="table-header__item table-header__item_title">title</div>
            <div class="table-header__item table-header__item_topic">topic</div>
            <div class="table-header__item table-header__item_date">date</div>
            <div class="table-header__item table-header__item_status">status</div>
            <div class="table-header__item table-header__item_comments">organizer comments</div>
        </div>
        <div class="data-table__inner-wrapper">
            <div class="data-table__row">
                <div class="data-table__column data-table__column_title">how to make fance UI</div>
                <div class="data-table__column data-table__column_topic">web design</div>
                <div class="data-table__column data-table__column_date">04/05/2016</div>
                <div class="data-table__column data-table__column_status">new</div>
                <div class="data-table__column data-table__column_comments"></div>
            </div>
            <div class="data-table__row">
                <div class="data-table__column data-table__column_title">architechting for the cloud</div>
                <div class="data-table__column data-table__column_topic">architechure and cloud</div>
                <div class="data-table__column data-table__column_date">22/09/2016</div>
                <div class="data-table__column data-table__column_status">in progress</div>
                <div class="data-table__column data-table__column_comments">pleae add more details on</div>
            </div>
            <div class="data-table__row">
                <div class="data-table__column data-table__column_title">agile on your project</div>
                <div class="data-table__column data-table__column_topic">technologies</div>
                <div class="data-table__column data-table__column_date">28/09/2016</div>
                <div class="data-table__column data-table__column_status">in progress</div>
                <div class="data-table__column data-table__column_comments">this topic is not included in the conference</div>
            </div>
            <div class="data-table__row">
                <div class="data-table__column data-table__column_title">new programming languages</div>
                <div class="data-table__column data-table__column_topic">technologies</div>
                <div class="data-table__column data-table__column_date">12/05/2016</div>
                <div class="data-table__column data-table__column_status">rejected</div>
                <div class="data-table__column data-table__column_comments"></div>
            </div>
            <div class="data-table__row">
                <div class="data-table__column data-table__column_title">how help users meet big data needs</div>
                <div class="data-table__column data-table__column_topic">Bigdata & NoSQL</div>
                <div class="data-table__column data-table__column_date">20/05/2016</div>
                <div class="data-table__column data-table__column_status">approved</div>
                <div class="data-table__column data-table__column_comments">gavno doklad</div>
            </div>
            <div class="data-table__row">
                <div class="data-table__column data-table__column_title">how to make fance UI</div>
                <div class="data-table__column data-table__column_topic">web design</div>
                <div class="data-table__column data-table__column_date">04/05/2016</div>
                <div class="data-table__column data-table__column_status">new</div>
                <div class="data-table__column data-table__column_comments">gavno doklad</div>
            </div>
            <div class="data-table__row">
                <div class="data-table__column data-table__column_title">how to make fance UI</div>
                <div class="data-table__column data-table__column_topic">web design</div>
                <div class="data-table__column data-table__column_date">04/05/2016</div>
                <div class="data-table__column data-table__column_status">new</div>
                <div class="data-table__column data-table__column_comments">gavno doklad</div>
            </div>
            <div class="data-table__row">
                <div class="data-table__column data-table__column_title">how to make fance UI</div>
                <div class="data-table__column data-table__column_topic">web design</div>
                <div class="data-table__column data-table__column_date">04/05/2016</div>
                <div class="data-table__column data-table__column_status">new</div>
                <div class="data-table__column data-table__column_comments">gavno doklad</div>
            </div>
            <div class="data-table__row">
                <div class="data-table__column data-table__column_title">how to make fance UI</div>
                <div class="data-table__column data-table__column_topic">web design</div>
                <div class="data-table__column data-table__column_date">04/05/2016</div>
                <div class="data-table__column data-table__column_status">new</div>
                <div class="data-table__column data-table__column_comments">gavno doklad</div>
            </div>
            <div class="data-table__row">
                <div class="data-table__column data-table__column_title">how to make fance UI</div>
                <div class="data-table__column data-table__column_topic">web design</div>
                <div class="data-table__column data-table__column_date">04/05/2016</div>
                <div class="data-table__column data-table__column_status">new</div>
                <div class="data-table__column data-table__column_comments">gavno doklad</div>
            </div>
            <div class="data-table__row">
                <div class="data-table__column data-table__column_title">how to make fance UI</div>
                <div class="data-table__column data-table__column_topic">web design</div>
                <div class="data-table__column data-table__column_date">04/05/2016</div>
                <div class="data-table__column data-table__column_status">new</div>
                <div class="data-table__column data-table__column_comments">gavno doklad</div>
            </div>
            <div class="data-table__row">
                <div class="data-table__column data-table__column_title">how to make fance UI</div>
                <div class="data-table__column data-table__column_topic">web design</div>
                <div class="data-table__column data-table__column_date">04/05/2016</div>
                <div class="data-table__column data-table__column_status">new</div>
                <div class="data-table__column data-table__column_comments">gavno doklad</div>
            </div>
            <div class="data-table__row">
                <div class="data-table__column data-table__column_title">how to make fance UI</div>
                <div class="data-table__column data-table__column_topic">web design</div>
                <div class="data-table__column data-table__column_date">04/05/2016</div>
                <div class="data-table__column data-table__column_status">new</div>
                <div class="data-table__column data-table__column_comments">gavno doklad</div>
            </div>
            <div class="data-table__row">
                <div class="data-table__column data-table__column_title">how to make fance UI</div>
                <div class="data-table__column data-table__column_topic">web design</div>
                <div class="data-table__column data-table__column_date">04/05/2016</div>
                <div class="data-table__column data-table__column_status">new</div>
                <div class="data-table__column data-table__column_comments">gavno doklad</div>
            </div>
            <div class="data-table__row">
                <div class="data-table__column data-table__column_title">how to make fance UI</div>
                <div class="data-table__column data-table__column_topic">web design</div>
                <div class="data-table__column data-table__column_date">04/05/2016</div>
                <div class="data-table__column data-table__column_status">new</div>
                <div class="data-table__column data-table__column_comments">gavno doklad</div>
            </div>
            <div class="data-table__row">
                <div class="data-table__column data-table__column_title">how to make fance UI</div>
                <div class="data-table__column data-table__column_topic">web design</div>
                <div class="data-table__column data-table__column_date">04/05/2016</div>
                <div class="data-table__column data-table__column_status">new</div>
                <div class="data-table__column data-table__column_comments">gavno doklad</div>
            </div>
            <div class="data-table__row">
                <div class="data-table__column data-table__column_title">how to make fance UI</div>
                <div class="data-table__column data-table__column_topic">web design</div>
                <div class="data-table__column data-table__column_date">04/05/2016</div>
                <div class="data-table__column data-table__column_status">new</div>
                <div class="data-table__column data-table__column_comments">gavno doklad</div>
            </div>
            <div class="data-table__row">
                <div class="data-table__column data-table__column_title">how to make fance UI</div>
                <div class="data-table__column data-table__column_topic">web design</div>
                <div class="data-table__column data-table__column_date">04/05/2016</div>
                <div class="data-table__column data-table__column_status">new</div>
                <div class="data-table__column data-table__column_comments">gavno doklad</div>
            </div>
        </div>
    </div>
</div>
