<div class="my-talks">
    <div class="my-talks__header">
        <a ui-sref="header.tabs.myTalks.newtalk" type="button" class="btn my-talks__button">submit new talk </a>
        <div ui-view></div>
    </div>
    <div class="my-talk-settings">
        <select name="" id=""></select>
        <input type="button" class="btn my-talk-settings__button" value="apply">
        <input type="reset" class="btn btn_cancel my-talk-settings__button" value="reset">
    </div>
    <div class="data-table">
        <div class="table-header">
            <div class="table-header__item table-header__item_title">title</div>
            <div class="table-header__item table-header__item_topic">topic</div>
            <div class="table-header__item table-header__item_date">date</div>
            <div class="table-header__item table-header__item_status">status</div>
            <div class="table-header__item table-header__item_comments">organizer comments</div>
        </div>
        <div class="data-table__inner-wrapper">
            <div class="data-table__row">
                <div class="data-table__column data-table__column_title">how to make fancy UI</div>
                <div class="data-table__column data-table__column_topic">web design</div>
                <div class="data-table__column data-table__column_date">10/11/2016</div>
                <div class="data-table__column data-table__column_status">new</div>
                <div class="data-table__column data-table__column_comments">Suck</div>
            </div>
        </div>
    </div>
</div>