.my-talks
  height: 100%

  &__header
    border-bottom: 1px solid $sharp-blue

  &__button
    width: 140px
    margin: 0 10px 10px 0
    @media ($mnw: $xsdmn) and ($mxw: $xsdmx)
      margin: 10px auto

  &__pop-up
    width: 600px

.my-talk-settings
  box-sizing: border-box
  padding: 10px 0

  &__filters
    display: flex

  &__title
    text-transform: capitalize
    line-height: 36px
    margin: 26px 10px 0 0

  &__button
    width: 100px
    height: 36px
    margin: 26px 5px 0

  &__label
    margin-bottom: 5px
    font-size: 14px

  &__select
    width: 150px
    height: 36px
    margin: 0 5px 0 0
    border: 1px solid $dark-blue

.data-table
  margin-top: 20px
  height: 70%
  border-bottom: 1px solid $sharp-blue

  &__text
    margin: 0
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
    text-transform: none

  &__tooltip
    display: block
    visibility: hidden
    position: absolute
    top: 0
    left: 0
    text-transform: none
    background: #f2f2f2
    z-index: 2

  &__inner-wrapper
    max-height: 90%
    overflow: auto
    @media ($mnw: $sdmn) and ($mxw: $sdmx)
      display: flex
      flex-wrap: wrap
      justify-content: space-around

  &__row
    display: flex
    flex-wrap: wrap
    text-transform: capitalize
    font-family: Oswald Light, sans-serif
    font-size: 14px
    box-sizing: border-box
    padding: 5px 0

    @media ($mnw: $xsdmn) and ($mxw: $xsdmx)
      width: 100%
      margin-bottom: 5px
      +box-shadow (0, 1px, 5px, 0, rgba(0,0,0,0.15))

    @media ($mnw: $sdmn) and ($mxw: $sdmx)
      width: 47%
      margin: 5px
      +box-shadow (0, 1px, 5px, 0, rgba(0,0,0,0.15))

    &:nth-child(odd)
      background: #f2f2f2

      @media ($mnw: $xsdmn) and ($mxw: $sdmx)
        background: #fff

  &__column
    &_title
      width: 28%
      box-sizing: border-box
      padding: 0 0 0 5px
      @media ($mnw: $xsdmn) and ($mxw: $sdmx)
        width: 100%
        &:before
          content: 'Title'
          +my-talk-before-title

    &_topic
      width: 15%
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      box-sizing: border-box
      padding: 0 5px 0 0
      @media ($mnw: $xsdmn) and ($mxw: $sdmx)
        width: 100%
        &:before
          content: 'Topic'
          +my-talk-before-title

    &_status
      width: 10%
      @media ($mnw: $xsdmn) and ($mxw: $sdmx)
        width: 100%
        &:before
          content: 'Status'
          +my-talk-before-title

    &_date
      width: 12%
      @media ($mnw: $xsdmn) and ($mxw: $sdmx)
        width: 100%
        &:before
          content: 'Date'
          +my-talk-before-title

    &_comments
      width: 35%
      position: relative
      &:hover > span
        visibility: visible
      @media ($mnw: $xsdmn) and ($mxw: $sdmx)
        width: 100%
        &:before
          content: 'Comments'
          +my-talk-before-title

.table-header
  display: flex
  border-bottom: 2px solid $dark-blue

  &__item
    text-transform: capitalize
    box-sizing: border-box
    padding: 5px 0

    &_title
      width: 28%
      box-sizing: border-box
      padding: 5px 0 5px 5px
      position: relative

    &_topic
      width: 15%
      position: relative

    &_status
      width: 10%
      position: relative

    &_date
      width: 12%
      position: relative

    &_comments
      width: 35%
      position: relative

  &__button
    display: block
    position: absolute
    right: 5px
    bottom: 5px
    width: 0
    height: 0
    border-left: 5px solid transparent
    border-right: 5px solid transparent
    border-bottom: 5px solid #1A9CB0
    margin-right: 5px
    margin-bottom: 5px
    &:hover
      cursor: pointer

  @media ($mnw: $xsdmn) and ($mxw: $sdmx)
    display: none



