@font-face
  font-family: 'Oswald Light'
  src: url('assets/fonts/oswald/oswald-light.ttf') format('truetype')
  font-weight: normal

@font-face
  font-family: 'Oswald Bold'
  src: url('assets/fonts/oswald/oswald-bold.ttf') format('truetype')
  font-weight: bold

@font-face
  font-family: 'Oswald Regular'
  src: url('assets/fonts/oswald/oswald-regular.ttf') format('truetype')
  font-weight: normal