<div class="pop-up-wrapper">
  <form class="pop-up">
    <h3 class="pop-up__title">Submit new talk</h3>
    <button class="pop-up__close"></button>

    <label for="new-talk-title" class="form-label form-label_required">
      title
    </label>
    <input type="text"
           id="new-talk-title"
           class="field field_border"
    >

    <label for="new-talk-desc" class="form-label form-label_required">
      description
    </label>
    <textarea id="new-talk-desc"
              class="textarea"
    >
    </textarea>

    <label class="form-label form-label_required">
      topic
    </label>

    <label class="form-label form-label_required">
      type
    </label>

    <label class="form-label form-label_required">
      language
    </label>

    <label class="form-label form-label_required">
      level
    </label>

    <label for="new-talk-add-inf" class="form-label">
      additional info
    </label>
    <textarea id="new-talk-add-inf"
              class="textarea"
    >
    </textarea>

    <button class="btn pop-up__button">Submit new talk</button>
  </form>
</div>