<div class="pop-up-wrapper">
  <div class="pop-up">
    <h3 class="pop-up__title">Submit new talk</h3>
    <button class="pop-up__close"></button>

    <form>
      <label for="new-talk-title" class="form-label form-label_required">
        title
      </label>
      <input type="text"
             id="new-talk-title"
             class="field field_border"
      >

      <label for="new-talk-desc" class="form-label form-label_required">
        description
      </label>
      <textarea id="new-talk-desc"
                class="textarea"
      >
    </textarea>

      <label class="form-label form-label_required">
        topic
      </label>
      <select>
        <option value="">Topics</option>
      </select>

      <label class="form-label form-label_required">
        type
      </label>
      <select>
        <option value="">Topics</option>
      </select>

      <label class="form-label form-label_required">
        language
      </label>
      <select>
        <option value="">Topics</option>
      </select>

      <label class="form-label form-label_required">
        level
      </label>
      <select>
        <option value="">Topics</option>
      </select>

      <label for="new-talk-add-inf" class="form-label">
        additional info
      </label>
      <textarea id="new-talk-add-inf"
                class="textarea"
      >
      </textarea>
    </form>

    <button class="btn pop-up__button">Submit new talk</button>
  </div>
</div>