<div class="pop-up-wrapper">
  <div class="pop-up">
    <h3 class="pop-up__title">Submit new talk</h3>
    <button class="pop-up__close" ng-click="$ctrl.close()"></button>
    <form class="new-talk" name="$ctrl.talkForm"
          novalidate
          ng-submit="$ctrl.submit()">
      <label for="new-talk-title" class="form-label form-label_required">
        title
      </label>
      <input type="text" id="new-talk-title" class="field field_border"
             maxlength="250"
             ng-required="true"
             ng-model="$ctrl.talk.title"
      >

      <label for="new-talk-desc" class="form-label form-label_required">
        description
      </label>
      <textarea id="new-talk-desc"
                class="textarea"
                maxlength="3000"
                ng-required="true"
                ng-model="$ctrl.talk.description"
      >

      </textarea>

      <label class="form-label form-label_required">
        topic
      </label>
      <select class="form-select"
              ng-required="true"
              ng-model="$ctrl.talk.topic">
        <option ng-repeat="topic in $ctrl.selectService.getTopics()" value="{{topic}}">
          {{topic}}
        </option>
      </select>

      <label class="form-label form-label_required">
        type
      </label>
      <select class="form-select"
              ng-required="true"
              ng-model="$ctrl.talk.type">
        <option value="{{type}}"
                ng-repeat="type in $ctrl.selectService.getTypes()">{{type}}
        </option>
      </select>

      <label class="form-label form-label_required">
        language
      </label>
      <select class="form-select"
              ng-required="true"
              ng-model="$ctrl.talk.lang">
        <option value="{{lang}}"
                ng-repeat="lang in $ctrl.selectService.getLang()">{{lang}}
        </option>
      </select>

      <label class="form-label form-label_required">
        level
      </label>
      <select class="form-select"
              ng-required="true"
              ng-model="$ctrl.talk.level">
        <option value="{{level}}"
                ng-repeat="level in $ctrl.selectService.getTalksLevels()">{{level}}
        </option>
      </select>

      <label for="new-talk-add-inf" class="form-label">
        additional info
      </label>
      <textarea id="new-talk-add-inf"
                class="textarea"
                maxlength="1500"
                ng-model="$ctrl.talk.addon">
      </textarea>
      <button class="btn pop-up__button">Submit new talk</button>
    </form>
  </div>
</div>

<div class="pop-up-wrapper" ng-show="$ctrl.isShownPopup">
  <div class="pop-up">
    <h3 class="pop-up__title">Info</h3>
    <button class="pop-up__close" ng-click="$ctrl.isShownPopup = false"></button>
    <p class="pop-up__notification">Are you sure you want to leave the window?</p>
    <p class="pop-up__notification">Click 'Yes' to leave and all your changes will lost.</p>
    <p class="pop-up__notification">Click 'No' to return and Submit/Update your changes</p>
    <div class="pop-up-button-wrapper">
      <button class="btn pop-up__button" ui-sref="header.tabs.myTalks">Yes</button>
      <button class="btn btn__cancel pop-up__button" ng-click="$ctrl.isShownPopup = false">No</button>
    </div>
  </div>
</div>

<div class="pop-up-wrapper" ng-show="$ctrl.isShownMandatoryAlert">
  <div class="pop-up">
    <h3 class="pop-up__title">Alert</h3>
    <button class="pop-up__close" ng-click="$ctrl.isShownMandatoryAlert = false"></button>
    <p class="pop-up__notification">Please fill in all mandatory fields.</p>
  </div>
</div>