<div class="edit-password">
  <span class="edit-password__result edit-password__result_success" ng-if="$ctrl.changed">
    Your password has been changed successfully
  </span>
  <span class="edit-password__result edit-password__result_error" ng-if="$ctrl.error">
    {{$ctrl.errorMessage}}
  </span>


  <form
    class="edit-password__form"
    novalidate
    name="$ctrl.editPasswordForm"
    ng-submit="$ctrl.changePassword()"
    >
    <p class="edit-password__title">Password</p>

    <div class="edit-password__fields-wrapper">
      <label class="form-label">Current Password</label>
      <input class="field field_border edit-password__field"
             type="password"
             name="currentPassword"
             required
             ng-model="$ctrl.passwords.currentPassword">

      <label class="form-label">New Password</label>
      <input class="field field_border edit-password__field"
             type="password"
             name="newPassword"
             required
             minlength="6"
             maxlength="30"
             ng-pattern="$ctrl.passwordPattern"
             ng-model="$ctrl.passwords.newPassword">

      <label class="form-label">Confirm New Password</label>
      <input class="field field_border edit-password__field"
             type="password"
             name="confirmNewPassword"
             required
             ng-model="$ctrl.passwords.confirmNewPassword">

      <div class="edit-password__buttons-wrapper">
        <input type="submit" value="Save" class="btn edit-password__button edit-password__button_left"
               ng-disabled="$ctrl.changed">
        <input type="reset" value="Cancel" class="btn edit-password__button"
               ng-disabled="$ctrl.changed" ng-click="$ctrl.closeEditPassword()">
      </div>
    </div>

  </form>
</div>