<div class="edit-password">
  <span class="edit-password__result edit-password__result_success">
    Your password successfully changed
  </span>
  <span class="edit-password__result edit-password__result_error">
    Please use at least one non-space character in your password
  </span>


  <form
    class="edit-password__form">
    <p class="edit-password__title">Password</p>

    <div class="edit-password__fields-wrapper">
      <label class="form-label">Current Password</label>
      <input class="field field_border edit-password__field" type="password">

      <label class="form-label">New Password</label>
      <input class="field field_border edit-password__field" type="password">

      <label class="form-label">Confirm New Password</label>
      <input class="field field_border edit-password__field" type="password">

      <div class="edit-password__buttons-wrapper">
        <input type="submit" value="Save" class="btn edit-password__button edit-password__button_left">
        <input type="submit" value="Cancel" class="btn edit-password__button">
      </div>
    </div>

  </form>
</div>