<div class="edit-password">
  <p class="edit-password__title">Password</p>
  <form
    class="edit-password__form">
    <label class="form-label">Current Password</label>
    <input class="field field_border edit-password__field" type="password">

    <label class="form-label">New Password</label>
    <input class="field field_border edit-password__field" type="password">

    <label class="form-label">Confirm New Password</label>
    <input class="field field_border edit-password__field" type="password">
    <div class="edit-password__buttons-wrapper">
      <input type="submit" value="Save" class="btn edit-password__button">
      <input type="submit" value="Cancel" class="btn edit-password__button">
    </div>
  </form>
</div>