<div class="pop-up-wrapper">
  <div class="pop-up pop-up_big">
    <h3 class="pop-up__title">Review talks
      <button class="pop-up__close" ng-click="$ctrl.closeCheck()"></button>
    </h3>
    <form class="new-talk" name="$ctrl.form" novalidate>
      <label for="new-talk-title" class="form-label">
        title
      </label>
      <input type="text"
             id="new-talk-title"
             class="field field_border"
             disabled
             ng-model="$ctrl.talk.title">

      <label for="new-talk-desc" class="form-label">
        description
      </label>
      <textarea class="textarea new-talk-desc"
                disabled
                ng-model="$ctrl.talk.description">

      </textarea>

      <label class="form-label">
        topic
      </label>
      <input type="text"
             class="field field_border"
             disabled
             ng-model="$ctrl.talk.topic">

      <label class="form-label">
        type
      </label>
      <input type="text"
             class="field field_border"
             disabled
             ng-model="$ctrl.talk.type">

      <label class="form-label">
        language
      </label>
      <input type="text"
             class="field field_border"
             disabled
             ng-model="$ctrl.talk.lang">

      <label class="form-label">
        level
      </label>
      <input type="text"
             class="field field_border"
             disabled
             ng-model="$ctrl.talk.level">

      <label for="new-talk-add-inf" class="form-label">
        additional info
      </label>
      <textarea class="textarea"
                disabled
                ng-model="$ctrl.talk.addon">
      </textarea>

      <div ng-if="$ctrl.fileNameObj.fileName">
        <span class="icon icon_attach"></span>
        <a class="form-link link" ng-href="/talk/{{ $ctrl.talk.id }}/takeFile">{{ $ctrl.fileNameObj.fileName }}</a>

      </div>

      <label for="comment" class="form-label">
        organizer's comments
      </label>
      <textarea class="textarea" name="comment"
                ng-class="(!$ctrl.comment && $ctrl.commentRequired) ? 'textarea_required' : ''"
                ng-change="$ctrl.resetCommentRequired()"
                ng-model="$ctrl.comment"
                maxlength="1000"
                ng-disabled="!$ctrl.statusEditable">
      </textarea>
      <span class="field-error" ng-show="(!$ctrl.comment && $ctrl.commentRequired)">Please specify a rejection reason</span>

      <div class="pop-up-button-wrapper pop-up-button-wrapper_wrap" ng-show="$ctrl.statusEditable">
        <button class="btn pop-up__button pop-up__button_triple" type="button"
                ng-click="$ctrl.approve()">Approve</button>
        <button class="btn pop-up__button pop-up__button_triple" type="button"
                ng-click="$ctrl.reject()">Reject</button>
        <button class="btn pop-up__button pop-up__button_triple" type="button"
                ng-click="$ctrl.progress()">In Progress</button>
      </div>
    </form>
  </div>
</div>

<div class="pop-up-wrapper" ng-show="$ctrl.confirmShown">
  <div class="pop-up">
    <h3 class="pop-up__title">Confirm</h3>
    <button class="pop-up__close" ng-click="$ctrl.hideConfirm()"></button>
    <p class="pop-up__notification">Are you sure you want to leave the window?</p>
    <p class="pop-up__notification pop-up__notification_light pop-up__notification_not-margin">Click 'Yes' to leave and all your changes will lost.</p>
    <p class="pop-up__notification pop-up__notification_light pop-up__notification_not-margin">Click 'No' to return and Submit/Update your changes</p>
    <div class="pop-up-button-wrapper">
      <button class="btn pop-up__button" ng-click="$ctrl.close()">Yes</button>
      <button class="btn btn__cancel pop-up__button" ng-click="$ctrl.hideConfirm()">No</button>
    </div>
  </div>
</div>