.my-info
  font-family: Oswald Light
  position: relative

  &__ava
    width: 180px
    height: 180px
    position: relative
    float: left
    overflow: hidden
    background-size: cover
    /* have to be changed */
    &_succes
      height: 200px
    &:after
      content: ''
      display: table
      clear: both
    @media ($mnw: $xsdmn) and ($mxw: $sdmx)
      width: 130px
      height: 130px
      float: none
      margin: 10px auto
    &:hover > div
      height: 40px
    &:hover > input
      display: block

  &__mandatory
    display: block
    width: 100%
    color: red
    text-align: right
    box-sizing: border-box
    padding: 0 5px 0 0
    float: left

  &__label
    display: block
    font-family: Oswald Regular
    margin: 10px 0 5px 0
    float: left
    &_bio
      margin: 0 0 0 10px

  &__bio
    width: calc(100% - 190px)
    height: 180px
    box-sizing: border-box
    float: right
    margin: 0
    padding: 5px 5px 0 10px
    &:focus
      outline: none
      border: 2px solid $sharp-blue
    @media ($mnw: $xsdmn) and ($mxw: $sdmx)
      width: 100%
  &__field
    width: 100%
    height: 30px
    margin: 10px 0
    box-sizing: border-box
    padding: 0 0 0 10px
    &_job
      margin: 0
    &_past
      margin: 0 0 10px 0
    &:focus
      outline: none
      border: none
      border-bottom: 2px solid $sharp-blue
    /*&:focus > label
      color: $sharp-blue*/

  &__info
    width: 100%
    box-sizing: border-box
    padding: 5px 5px 0 10px
    margin: 10px 0
    &:focus
      outline: none
      border: 2px solid $sharp-blue

  &__button
    margin: 20px auto
    font-family: Oswald Regular

  &__remove
    width: 15px
    height: 15px
    background: transparent
    display: none
    border: 0
    float: right
    background-image: url("assets/img/close-icon.svg")
    margin: 5px 5px 0 0
    &:focus
      outline: none
    &:active
      margin: 10px 5px 0 0

.slide
  width: 100%
  height: 0
  position: absolute
  bottom: 0
  background: $sharp-blue
  -webkit-transition:  height 0.5s
  transition:  height 0.5s

  &__button
    color: #fff
    width: 100%
    height: 100%
    text-transform: uppercase
    font-size: 12px
    line-height: 40px
    margin: 0 auto
    background: transparent
    border: 0
    &:hover
      cursor: pointer
    &:focus
      outline: none
    &:active
      background: $dark-blue

.load-ava
  width: 100vw
  height: 100vh
  background: rgba(0, 0 , 0, 0.5)
  position: fixed
  top: 0
  left: 0

  &-content
    width: 450px
    height: 300px
    background: #fff
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto
    @media ($mnw: $xsdmn) and ($mxw: $sdmx)
      width: 350px
      height: 250px

    &__header
      width: 100%
      height: 50px
      line-height: 50px
      background: $light-grey
    &__title
      padding: 0 0 0 15px
      font-size: 18px
      margin: 0
      float: left
    &__button
      width: 20px
      height: 20px
      margin: 15px 15px 0 0
      border: 0
      background-color: transparent
      background-image: url("assets/img/close-icon.svg")
      background-position: center
      background-repeat: no-repeat
      float: right
      &:focus
        outline: none
      &:active
        margin: 17px 15px 0 0

  &__details
    text-align: center
    font-size: 16px
    font-family: Oswald Light

  &__tip
    width: 100%
    position: absolute
    bottom: 0
    box-sizing: border-box
    background: $light-grey
    text-align: center
    font-family: Oswald Light
    font-size: 14px
    padding: 5px 0

.file-upload
  display: block
  position: relative
  overflow: hidden
  height: 90px
  font-size: 16px
  line-height: 16px

  &__button
    display: block
    width: 100px
    cursor: pointer
    padding: 10px 15px
    background: $sharp-blue
    color: #fff
    font-size: 18px
    margin: 20px auto 10px
    text-align: center
    &:hover
      cursor: pointer
    &:active
      background: $dark-blue
  &__mark
    display: block
    cursor: pointer
    background: transparent
    text-align: center
    font-family: Oswald Light
    font-size: 14px
  &__uploading
    position: absolute
    top: 0
    opacity: 0

.info
  height : 30px

/* have to be change*/
.msg-success
  color: green

.cust
  box-sizing: border-box
  padding: 20px
  @media ($mnw: $xsdmn) and ($mxw: $sdmx)
    padding: 5px
.cust_l
  float: left
  @media ($mnw: $xsdmn) and ($mxw: $sdmx)
    width: 150px !important
    margin-left: 20px !important
.cust_r
  width: 200px
  display: block
  margin: auto
  padding: 5px
  font-size: 18px
  text-align: center
  text-decoration: none
  text-transform: capitalize
  color: white
  background: #B22746
  border: none
  transition: all 0.5s ease
  &:hover
    background: #8E244D
  @media ($mnw: $xsdmn) and ($mxw: $sdmx)
   width: 150px

.dragover
  border: 4px dashed $sharp-blue