<form class="my-info">
    <div class="my-info__ava">
        <button class="my-info__remove"></button>
        <div class="slide">
            <button class="slide__button" ng-click="myInfoCtrl.toggleSlide()">Upload photo</button>
        </div>
    </div>
    <textarea name="bio" id="bio" placeholder="My Bio" class="my-info__bio"></textarea>
    <input type="text" name="job" id="job" placeholder="Job" class="my-info__field">
    <input type="text" name="past" id="past" placeholder="My conferences" class="my-info__field">
    <input type="text" name="linkedin" id="linkedin" placeholder="Linkedin" class="my-info__field">
    <input type="text" name="twitter" id="twitter" placeholder="Twitter" class="my-info__field">
    <input type="text" name="facebook" id="facebook" placeholder="Facebook" class="my-info__field">
    <input type="text" name="blog" id="blog" placeholder="Blog" class="my-info__field">
    <textarea name="info" id="info" rows="5" placeholder="Additional Info" class="my-info__info"></textarea>
    <input type="button" value="submit" class="my-info__button btn">
</form>

<div class="load-ava" ng-if="myInfoCtrl.showLoad">
    <div class="load-ava-content">
        <div class="load-ava-content__header">
            <p class="load-ava-content__title">Upload new photo</p>
            <button class="load-ava-content__button" ng-click="myInfoCtrl.toggleSlideBack()"></button>
        </div>
        <div class="load-ava__upload">
            <p class="load-ava__details">It is much easier to identify you if you have a photo.<br>
                You can upload image in format JPG, PNG</p>
            <label class="file-upload">
                <span class="file-upload__button">Choose</span>
                <mark class="file-upload__mark">File is not selected</mark>
                <input type="file" class="file-upload__uploading">
            </label>
        </div>
        <div class="load-ava__tip">Please try to use small file size If you have an issue during the upload </div>
    </div>
</div>

