<form class="my-info" name="$ctrl.userInfoForm" novalidate ng-submit="$ctrl.submit()">
  <span class="my-info__mandatory">*</span>
  <div class="my-info__ava">
    <input type="button" class="my-info__remove">
    <div class="slide">
      <input type="button" class="slide__button" value="Upload photo" ng-click="$ctrl.toggleSlide()">
    </div>
  </div>
  <textarea name="bio" id="bio" placeholder="My Bio" class="my-info__bio" maxlength="2000"
              ng-model="$ctrl.user.bio" ,
              ng-maxlength="2000"
              ng-required="true">{{$ctrl.user.bio}}</textarea>
  <span class="my-info__mandatory">*</span>
  <input type="text" name="job" id="job" placeholder="Job"
         class="field my-info__field my-info__field_job"
         maxlength="256"
         ng-model="$ctrl.user.job"
         ng-required="true">
  <span class="my-info__mandatory">*</span>
  <input type="text" name="past" id="past" placeholder="Past Conferences"
         class="field my-info__field my-info__field_past"
         maxlength="1000"
         ng-model="$ctrl.user.past"
         ng-required="true">
  <span class="my-info__mandatory"></span>
  <input type="text" name="linkedin" id="linkedin"
         placeholder="Linkedin"
         class="field my-info__field"
         ng-model="$ctrl.user.linkedin">
  <span class="my-info__mandatory"></span>
  <input type="text" name="twitter" id="twitter"
         placeholder="Twitter"
         class="field my-info__field"
         ng-model="$ctrl.user.twitter">
  <span class="my-info__mandatory"></span>
  <input type="text" name="facebook" id="facebook"
         placeholder="Facebook"
         class="field my-info__field"
         ng-model="$ctrl.user.facebook">
  <span class="my-info__mandatory"></span>
  <input type="text" name="blog" id="blog"
         placeholder="Blog"
         class="field my-info__field"
         ng-model="$ctrl.user.blog">
  <span class="my-info__mandatory"></span>
  <textarea name="info" id="info" rows="5" placeholder="Additional Info" class="my-info__info"
            ng-model="$ctrl.user.info"
            maxlength="1000">{{$ctrl.user.info}}</textarea>
  <input type="submit" value="save" class="btn my-info__button ">
</form>

<div class="pop-up-wrapper" ng-if="$ctrl.showLoad">
  <div class="pop-up">
      <h3 class="pop-up__title">Upload new photo</h3>
      <button class="pop-up__close" ng-click="$ctrl.toggleSlideBack()"></button>
      <p class="pop-up__notification pop-up__notification_light">It is much easier to identify you if you have a photo.<br>
        You can upload image in format JPG, PNG</p>
      <label class="file-upload">
        <span class="btn file-upload__button">Choose</span>
        <mark class="file-upload__mark">File is not selected</mark>
        <input type="file" class="file-upload__uploading">
      </label>
    <div class="pop-up__tip">Please try to use small file size If you have an issue during the upload</div>
  </div>
</div>

<div class="pop-up-wrapper" ng-show="$ctrl.isShowMessage">
  <div class="pop-up">
    <h3 class="pop-up__title">{{$ctrl.message.title}}</h3>
    <p class="pop-up__notification">
      {{$ctrl.message.p}}
    </p>

    <div class="buttons-wrapper">
      <input type="button" value="yes" class="btn"
             ng-if="$ctrl.message.showBtns"
             ng-click="$ctrl.saveChangesBeforeOut()">
      <input type="button" value="No" class="btn btn_cancel"
             ng-if="$ctrl.message.showBtns"
             ng-click="$ctrl.cancelChanges()">
    </div>
    <button class="pop-up__close" ng-click="$ctrl.hideMessage()"></button>
  </div>
</div>
