.my-info
  font-family: Oswald Light
  position: relative

  &__bio
    width: calc(100% - 190px)
    height: 147px
    box-sizing: border-box
    float: right
    margin: 10px auto
    padding: 5px
    resize: none

    &:focus
      outline: none
      border: 2px solid $sharp-blue

    @media ($mnw: $xsdmn) and ($mxw: $sdmx)
      width: 100%

  &__label
    font-family: "Oswald Regular", sans-serif

    &_bio
      @media ($mnw:$sdmx)
       width: calc(100% - 190px)
       float: right

  &__field
    border: $border

    &:focus
      outline: none
      border: none
      border-bottom: 2px solid $sharp-blue

  &__info
    width: 100%
    box-sizing: border-box
    padding: 5px
    margin: 10px 0
    resize: none

    &:focus
      outline: none
      border: 2px solid $sharp-blue

  &__button
    margin: 20px auto