<div ng-class="$ctrl.conditionalWrapperClass">
  <form class="sign-in" name="$ctrl.userForm" novalidate ng-submit="$ctrl.login()">
    <h2 class="form-title sign-in__title">sign in</h2>
    <label for="sign-in-email" class="sign-in__label form-label">email:</label>
    <input type="email"
           name="mail"
           id="sign-in-email"
           class="field sing-in__field"
           ng-model="$ctrl.user.mail"
           ng-pattern="$ctrl.emailPattern"
           required
           tabindex="1">
    <span class="field-error" ng-if="$ctrl.userForm.mail.$error.login_auth_err">We can not find an account with that email address</span>
    <span class="field-error" ng-if="$ctrl.userForm.mail.$error.confirm_reg">You have to go to your email and confirm your account</span>
    <div class="sign-in__password-cont">
      <label for="sign-in-password" class="form-label">password:</label>
      <a href="#" ui-sref="header.forgotPassword" class="sign-in__forgot" tabindex="4">forgot password?</a>
    </div>
    <input type="password"
           name="password"
           class="field"
           id="sign-in-password"
           ng-model="$ctrl.user.password"
           tabindex="2">
    <span class="field-error" ng-if="$ctrl.userForm.password.$error.password_auth_err">Your password is incorrect</span>

    <input type="submit"
           value="Sign In"
           class="btn sign-in__submit"
           tabindex="3">
  </form>
  
  <div class="sign-in__separator"></div>

  <a ui-sref="header.sign-up" class="btn sign-in__create" tabindex="5">create new account</a>
</div>