.my-info {
  font-family: "Oswald Light", sans-serif;
  position: relative;

  &__button {
    width: 130px;
  }

  &__photo {
    width: 180px;
    height: 180px;
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
    float: left;
    overflow: hidden;
    background-size: cover;
    z-index: 1;

    &-block {
      position: relative;

      &:hover {

        & .my-info__remove {
          display: block;
        }

        & .change-photo {
          height: 40px;
        }
      }
    }
  }

  &__bio {
    width: calc(100% - 190px);
    height: 147px;
    float: right;

    &:focus {
      outline: none;
      border: 2px solid $sharp-blue;
    }
  }

  &__remove {
    width: 15px;
    height: 15px;
    background: transparent;
    display: none;
    position: absolute;
    left: 160px;
    top: 2px;
    border: 0;
    float: right;
    background-image: url(../images/close-icon.svg);
    margin: 5px 5px 0 0;
    z-index: 1;
  }

  &__required-message {
    visibility: hidden;
    color: red;
  }
}
.textarea-focus {
  height: 147px;
}

.pop-up__change-photo {
  height: 270px;
}

.change-photo {
  width: 180px;
  height: 0;
  color: #fff;
  position: absolute;
  bottom: -180px;
  left: 0;
  line-height: 40px;
  text-align: center;
  background-color: $sharp-blue;
  font-family: Oswald Light,sans-serif;
  -webkit-transition: height .5s;
  transition: height .5s;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }

  &__successful {
    color: red;
    margin: 10px auto;
    text-align: center;
  }
}

input[type="file"] {
  display: none;
}

.choose-photo {

  &__btn {
    width: 100px;
    font-size: 18px;
  }
}

.internal-wrapper {
  display: flex;
  justify-content: space-around;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.input-required {
  width: 45%;

  &__bio {
    margin-left: 190px;
    width: 85%;
  }
}


@media ($mnw: $xsdmn) and ($mxw: $sdmx) {
  width: 100%;

  &__label {
    font-family: "Oswald Regular", sans-serif;

    &_bio {
    }
  }
}

@media ($mnw:$sdmx) {
  .my-info {

    &__label_bio {
      width: calc(100% - 190px);
      float: right;
    }
  }
}
