<div class="tabs-layout">
  <div class="tabs-wrapper">
    <div class="home__header">
        <a ng-click="$ctrl.signIn()" class="btn home__button">propose new talk</a>
    </div>

    <div class="tabs-wrapper_embedded">
      <ul class="tabs-list">
        <li class="tabs-list__item">
          <a class="tabs-list__anchor"
            ng-class="$ctrl.conditionalClass('upcoming')"
            ng-click="$ctrl.showView('upcoming')">Upcoming</a>
        </li>
        <li class="tabs-list__item">
          <a class="tabs-list__anchor"
            ng-class="$ctrl.conditionalClass('past')"
            ng-click="$ctrl.showView('past')">Past</a>
        </li>
      </ul>
      <div class="tabs-container">
        <conference-card ng-repeat="conference in $ctrl.conferences"
                        data="conference"
                        show-counters="false"
                        show-submit="true"
                        on-click="$ctrl.signIn()">
        </conference-card>
      </div>
    </div>
  </div>
</div>
