body
  color: $main-color
  background: red
  background-size: cover
  padding: 0
  margin: 0

h1
  text-align: center

a
  display: block
  width: 20%
  margin: 100px auto
  text-decoration: none
  font-size: 50px
  font-weight: bold
  color: white
  font-family: Gotham Light

