@font-face {
  font-family: 'Oswald Light';
  src: url('../fonts/oswald/Oswald-Light.ttf') format('truetype');
  font-weight: normal;
  }

@font-face {
  font-family: 'Oswald Bold';
  src: url('../fonts/oswald/Oswald-Bold.ttf') format('truetype');
  font-weight: bold;
  }

@font-face {
  font-family: 'Oswald Regular';
  src: url('../fonts/oswald/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
  }