<div class="pop-up-wrapper">
  <div class="pop-up" ng-if="!$ctrl.forgotten">
    <h3 class="pop-up__title">Forgot password?</h3>
    <form novalidate
          name="$ctrl.userForm"
          ng-submit="$ctrl.restore()">
      <p class="pop-up__notification">Please enter your email:</p>
      <input type="email"
             class="field pop-up__input"
             name="mail"
             required
             ng-model="$ctrl.user.mail"
             ng-pattern="$ctrl.emailPattern"
             ng-change="$ctrl.resetEmailNotFound()">

      <span class="field-error error-title_pop-up"
         ng-show="$ctrl.userForm.$submitted && $ctrl.userForm.mail.$error.required">
        Please enter your registered email</span>
      <span class="field-error error-title_pop-up"
         ng-show="$ctrl.userForm.$submitted && $ctrl.userForm.mail.$error.pattern">
        Please enter a valid email address</span>
      <span class="field-error error-title_pop-up"
         ng-show="$ctrl.userForm.mail.$error.email_not_found">
        We can not find an account with that email address</span>

      <div class="pop-up-button-wrapper">
        <input type="submit"
               value="Continue"
               class="btn pop-up__button">

        <input class="btn pop-up__button btn_cancel"
               ui-sref="header.home"
               type="button"
               value="cancel">
      </div>
    </form>
    <button class="pop-up__close" ui-sref="header.home"></button>
  </div>

  <div class="pop-up" ng-if="$ctrl.forgotten">
    <h3 class="pop-up__title">Password forgotten</h3>
    <p class="pop-up__notification">
      We just emailed you a link. Please check your email and click the secure link.
    </p>

    <button class="btn pop-up__button" ui-sref="header.home">Close</button>
  </div>
</div>