.pop-up
  &__input
    width: 90%
    margin: auto
    border: $border

  &__button
    width: 45%

.buttons-wrapper
  display: flex
  justify-content: space-around
  margin: 15px

.error-title_pop-up
  text-align: center

