<div class="pop-up-wrapper">
  <div class="pop-up" ng-if="!forgotPasswordCtrl.forgotten">
    <h3 class="pop-up__title">Forgot password?</h3>
    <form novalidate
          name="forgotPasswordCtrl.userForm"
          ng-submit="forgotPasswordCtrl.restore()">
      <p class="pop-up__notification">Send me a new password to my email address:</p>
      <input type="email"
             class="field pop-up__input"
             name="mail"
             required
             ng-model="forgotPasswordCtrl.user.mail"
             ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,6}$/i"
             ng-change="forgotPasswordCtrl.resetEmailNotFound()">

      <span class="field-error error-title_pop-up"
         ng-show="forgotPasswordCtrl.userForm.$submitted && forgotPasswordCtrl.userForm.mail.$error.required">
        Email is required</span>
      <span class="field-error error-title_pop-up"
         ng-show="forgotPasswordCtrl.userForm.$submitted && forgotPasswordCtrl.userForm.mail.$error.pattern">
        Please enter a valid email address</span>
      <span class="field-error error-title_pop-up"
         ng-show="forgotPasswordCtrl.userForm.mail.$error.email_not_found">
        We can not find an account with that email address</span>

      <div class="pop-up-button-wrapper">
        <input type="submit"
               value="Continue"
               class="btn pop-up__button">

        <input class="btn pop-up__button btn_cancel"
               ui-sref="header.home"
               type="button"
               value="cancel">
      </div>
    </form>
    <button class="pop-up__close" ui-sref="header.home"></button>
  </div>

  <div class="pop-up" ng-if="forgotPasswordCtrl.forgotten">
    <h3 class="pop-up__title">Password forgotten</h3>
    <p class="pop-up__notification">
      We sent a new password to your email address
      <span class="pop-up__notification-user">
       {{ forgotPasswordCtrl.user.mail}}
      </span>
    </p>

    <button class="btn pop-up__button" ui-sref="header.home">Close</button>
  </div>
</div>