<div class="pop-up-wrapper">
  <div class="pop-up" ng-if="!forgotPasswordCtrl.forgotten">
    <h3 class="pop-up__title">Forgot password?</h3>
    <form novalidate
          name="forgotPasswordCtrl.form"
          ng-submit="forgotPasswordCtrl.forgot()">
      <label class="pop-up__notification" for="mail-forgot">Send me a new password to my email address:</label>

      <input type="email"
              class="pop-up__input"
              name="mail"
              ng-model="forgotPasswordCtrl.mail"
              id="mail-forgot">
      <p class="error-title error-title_pop-up">
        We can not find an account with that email address
      </p>

      <input type="submit"
               value="Continue"
               class="btn pop-up__button"
      >

      <button class="btn pop-up__button btn_cancel" ui-sref="header.home">
          Cancel
      </button>
    </form>
    <span class="pop-up__close" ui-sref="header.home">x</span>
  </div>

  <div class="pop-up" ng-if="forgotPasswordCtrl.forgotten">
    <h3 class="pop-up__title">Password forgotten</h3>
    <p class="pop-up__notification">
      We sent a new password to your email address
      <span class="pop-up__notification-user">
       {{ forgotPasswordCtrl.mail}}
      </span>
    </p>

    <button class="btn pop-up__button" ui-sref="header.home">Close</button>
  </div>
</div>