<div class="password-wrapper">
    <div class="password__header">Create New Password</div>
    <div class="password__block">
        <form class="password__form"
              novalidate
              name="$ctrl.newPasswordForm"
              ng-submit="$ctrl.changePassword()"
        >
            <label class="form-label">New Password</label>
            <input class="field field_border"
                   type="password"
                   name="newPassword"
                   required
                   minlength="6"
                   maxlength="30"
                   name="$ctrl.newPassword()"
                   >

            <label class="form-label">Confirm Password</label>
            <input class="field field_border"
                   type="password"
                   name="confirmPassword"
                   required
                  >
            <input type="button" class="btn password__btn" value="Save">
        </form>
    </div>
</div>