<div class="password-wrapper">
    <div class="password__header">Create New Password</div>
    <div class="password__block">
        <form class="password__form"
              novalidate
              name="$ctrl.newPasswordForm"
              ng-submit="$ctrl.newPassword()"
        >
            <label class="form-label">New Password</label>
            <input class="field field_border"
                   type="password"
                   name="newPassword"
                   required
                   minlength="6"
                   maxlength="30"
                   name="newPassword"
                   ng-pattern="$ctrl.passwordPattern"
                   ng-model="$ctrl.passwords.newPassword"
                   ng-change="$ctrl.setPasswordsMatch(true)"
                   >
            <span class="field-error" ng-if="$ctrl.newPasswordForm.newPassword.$error.passwords_match && $ctrl.newPasswordForm.$submitted">
              Passwords do not match
            </span>
            <span class="field-error" ng-if="$ctrl.newPasswordForm.newPassword.$error.pattern  && $ctrl.newPasswordForm.$submitted">
              Please use at least one non-space character in your password.
            </span>
            <span class="field-error" ng-if="$ctrl.newPasswordForm.newPassword.$error.minlength  && $ctrl.newPasswordForm.$submitted">
              Your password must be at least 6 characters long. Please try another.
            </span>
            <span class="field-error" ng-if="$ctrl.newPasswordForm.newPassword.$error.required  && $ctrl.newPasswordForm.$submitted">
              All fields are mandatory. Please make sure all required fields are filled out.
            </span>


            <label class="form-label">Confirm Password</label>
            <input class="field field_border"
                   type="password"
                   name="confirmPassword"
                   required
                   ng-model="$ctrl.passwords.confirmPassword"
                   ng-change="$ctrl.setPasswordsMatch(true)"
                  >
            <span class="field-error" ng-if="$ctrl.newPasswordForm.confirmPassword.$error.required  && $ctrl.newPasswordForm.$submitted">
              All fields are mandatory. Please make sure all required fields are filled out.
            </span>

            <input type="submit" class="btn password__btn" value="Save">
        </form>
    </div>
</div>