<div class="settings-wrapper">
    <div class="settings__header">general settings account</div>
    <div class="settings__block">
        <div class="settings__row">
           <div class="settings__title">name</div>
           <div class="settings__row-content settings__row-content_name">Organizer</div>
           <a class="settings__edit">edit</a>
        </div>
        <div class="settings__row">
            <div class="settings__title">email</div>
            <div class="settings__row-content settings__row-content_email">organizer@organizer.com</div>
            <a class="settings__edit">edit</a>
        </div>
        <div class="settings__row">
            <div class="settings__title">password</div>
            <div class="settings__row-content settings__row-content_password">*************</div>
            <a class="settings__edit">edit</a>
        </div>
    </div>
</div>