<div class="settings-wrapper">
    <div class="settings__header">settings account</div>
    <div class="settings__block">
        <div class="settings__row">
           <div class="settings__brief" ng-click="$ctrl.showEditname()" ng-show="!$ctrl.editName">
               <div class="settings__title">name</div>
               <div class="settings__row-content settings__row-content_name">{{$ctrl.user.fname}} {{$ctrl.user.lname}}</div>
               <div class="settings__edit">edit</div>
           </div>
           <div class="settings__details" ng-if="$ctrl.editName">
               <edit-name changename="$ctrl.editName" user="$ctrl.user"></edit-name>
           </div>
        </div>
        <div class="settings__row">
            <div class="settings__brief" ng-click="$ctrl.showEditemail()" ng-show="!$ctrl.editEmail">
                <div class="settings__title">email</div>
                <div class="settings__row-content settings__row-content_name">{{$ctrl.user.mail}}</div>
                <div class="settings__edit">edit</div>
            </div>
            <div class="settings__details" ng-if="$ctrl.editEmail">
                <edit-email editing="$ctrl.editEmail" user="$ctrl.user"></edit-email>
            </div>
        </div>
        <div class="settings__row">
            <div class="settings__brief" ng-click="$ctrl.showEditpass()" ng-show="!$ctrl.editPass">
                <div class="settings__title">password</div>
                <div class="settings__row-content settings__row-content_name">*******</div>
                <div class="settings__edit">edit</div>
            </div>
            <div class="settings__details" ng-if="$ctrl.editPass">
                <edit-password editing="$ctrl.editPass"></edit-password>
            </div>
        </div>
    </div>
</div>