<div class="settings-wrapper">
    <div class="settings__header">settings account</div>
    <div class="settings__block">
        <div class="settings__row" ng-click="$ctrl.showEditname()">
           <div class="settings__brief">
               <div class="settings__title">name</div>
               <div class="settings__row-content settings__row-content_name">Organizer</div>
               <div class="settings__edit">edit</div>
           </div>
           <div class="settings__details" ng-show="$ctrl.editName">
               <edit-name></edit-name>
           </div>
        </div>
        <div class="settings__row" ng-click="$ctrl.showEditpass()">
            <div class="settings__brief">
                <div class="settings__title">email</div>
                <div class="settings__row-content settings__row-content_name">organizer@organizer.com</div>
                <div class="settings__edit">edit</div>
            </div>
            <div class="settings__details" ng-show="$ctrl.editEmail">
                <edit-email></edit-email>
            </div>
        </div>
        <div class="settings__row" ng-click="$ctrl.showEditpass()">
            <div class="settings__brief" >
                <div class="settings__title">password</div>
                <div class="settings__row-content settings__row-content_name">*******</div>
                <div class="settings__edit">edit</div>
            </div>
            <div class="settings__details" ng-show="$ctrl.editPass">
                <edit-password></edit-password>
            </div>
        </div>
    </div>
</div>