.settings-wrapper
  width: 50%
  height: calc(100vh - 90px)
  margin: 10px auto
  box-sizing: border-box
  padding: 20px
  +box-shadow (0, 0, 5px, 0, rgba(0,0,0,0.15))

.settings
  &__block
    margin-top: 20px

  &__header
    border-bottom: 1px solid $sharp-blue
    text-transform: capitalize

  &__row
    position: relative
    border-bottom: 1px solid $light-grey

  &__row-content
    font-family: Oswald Light, sans-serif

  &__title
    text-transform: capitalize

  &__brief
    height: 45px
    display: flex
    justify-content: space-between
    box-sizing: border-box
    padding: 10px

    &:hover
      cursor: pointer
      background: #f2f2f2

    &:hover .settings__edit
      text-decoration: underline
      &:before
        content: ''
        display: block
        width: 15px
        height: 15px
        float: left
        background: url(assets/img/pen-icon.svg) no-repeat center
        background-size: 80%
        margin: 4px

  &__details
    width: 100%
    height: 200px
    position: relative
    background: #f2f2f2
    margin-top: -45px
