.tabs-title {
	text-align: right;
	font-size: 23px;
	padding-left: 65px;
}

.conference_button {
  background: #39C2D7;
  color: #fff;
  font-size: 18px;
  padding: 3px 15px;
  text-decoration: none;
  position: absolute;
  top: 110px;
  text-transform: uppercase;
}
