<div class="pop-up-wrapper">
  <div class="pop-up pop-up_big">
    <h3 class="pop-up__title talks-user-info-popup__title">{{$ctrl.fullName}}</h3>
    <button class="pop-up__close" ng-click="$ctrl.close()"></button>

    <div class="talks-user-info-popup__form-wrapper">

      <!--<user-photo user="$ctrl.user"></user-photo>-->
      <img class="my-info__ava" src="{{$ctrl.ava}}"/>
      <form class="my-info" name="$ctrl.userInfoForm">
        <label for="my-info-bio" class="form-label my-info__label my-info__label_bio">Short Bio</label>
        <textarea name="bio" id="my-info-bio" class="textarea my-info__bio" maxlength="2000"
                  ng-model="$ctrl.user.bio"
                  disabled>{{$ctrl.user.bio}}</textarea>
        <label class="form-label">Job Title</label>
        <input type="text"
               class="field field_border"
               disabled
               ng-model="$ctrl.user.job">
        <label class="form-label">Company</label>
        <input type="text"
               class="field field_border"
               disabled
               ng-model="$ctrl.user.company">
        <label class="form-label">Past Conferences</label>
        <textarea type="text" name="past" id="my-info-linkedin-past-conferences" rows="5"
                  class="textarea"
                  disabled
                  ng-model="$ctrl.user.past">{{$ctrl.user.past}}</textarea>
        <label class="form-label">Email</label>
        <input type="text"
               class="field field_border"
               disabled
               ng-model="$ctrl.user.mail">
        <label class="form-label">LinkedIn</label>
        <input type="text"
               class="field field_border"
               disabled
               ng-model="$ctrl.user.linkedin">
        <label class="form-label">twitter</label>
        <input type="text"
               class="field field_border"
               disabled
               ng-model="$ctrl.user.twitter">
        <label class="form-label">facebook</label>
        <input type="text"
               class="field field_border"
               disabled
               ng-model="$ctrl.user.facebook">
        <label class="form-label">blog</label>
        <input type="text"
               class="field field_border"
               disabled
               ng-model="$ctrl.user.blog">
        <label class="form-label">Additional Info</label>
        <textarea rows="5" class="textarea"
                  ng-model="$ctrl.user.info"
                  disabled
                  maxlength="1000">{{$ctrl.user.info}}</textarea>
      </form>
      <button class="btn talks-user-info-popup__button" ng-click="$ctrl.close()">close</button>
    </div>

  </div>
</div>