<div class="tabs-container conference-card">
  <div class="conference-card-title">
    <a href="#/conference/{{ $ctrl.data.id }}" class="conference-card-title__link">
      {{ $ctrl.data.title }}
    </a>
  </div><button class="btn btn-right conference-card-title__btn"
                ng-if="$ctrl.showSubmit && $ctrl.data.cfp_active"
                ng-click="$ctrl.onClick({ conferenceId: $ctrl.data.id })">Submit Talk</button>
  <div class="conference-card-dates">
    <span class="conference-card-label">Dates:</span>
    {{ $ctrl.startDate }} &mdash; {{ $ctrl.endDate }}
  </div>
  <div class="conference-card-dates_cfp">
    <span class="conference-card-label">Call For Papers:</span>
    {{ $ctrl.cfpStartDate }} &mdash; {{ $ctrl.cfpEndDate }}</div>
  <div class="conference-card-description">{{ $ctrl.data.description }}</div>
  <div class="conference-card-location"><span class="conference-card-label">Location:</span>{{ $ctrl.data.location }}</div>
  <div ng-if="$ctrl.showCounters">
    <div class="conference-card-counter">New: {{ $ctrl.data.new }}</div>
    <div class="conference-card-counter">In Progress: {{ $ctrl.data.in-progress }}</div>
    <div class="conference-card-counter">Approved: {{ $ctrl.data.approved }}</div>
    <div class="conference-card-counter">Rejected: {{ $ctrl.data.rejected }}</div>
  </div>
</div>