<header class="header">
  <div class="header__title"><a href="/#/" class="link_header">conference management</a></div>
        <div class="menu-container">
            <button class="menu-container__button js-dropdown" ng-click="ctrl.menuHidden=!ctrl.menuHidden">{{ctrl.name}} Account</button>
            <div class="menu-container__content" ng-show="ctrl.menuHidden">
              <sign-in ng-if="!ctrl.menu"></sign-in>
              <div  ng-if="ctrl.menu" class="dropdown">
                <div class="menu-arrow"></div>
                <ul class="menu-list">
                  <li class="menu-list__item"
                      ng-repeat="items in ctrl.menu">
                    <a href="#" class="menu-list__title"
                       ui-sref="header.{{items.link}}"
                       ui-sref-active="is-active">
                      {{items.name}}</a>
                  </li>
                  <li class="menu-list__item menu-list__item_sign-out">
                      <a class="menu-list__title"
                         ui-sref="header.logout">Sign Out</a>
                  </li>
                </ul>
              </div>
            </div>
        </div>
</header>

<div ui-view></div>
