.update-talk {
	&_wrapper {
		display: flex;
		flex-direction: column;
		margin: 15px 0;
		padding: 25px 70px;
		box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .15);
	}

	&__button {
		//display: flex;
		//align-items: center;
		//
		//&-item {
			margin-right: 25px;
		//}
	}

}

.select-field {

	&__item {
		margin-right: 20px;
	}

	&__topic {
		width: 350px !important;
	}

	&__type,
	&__lang,
	&__level {
		width: 165px !important;
	}
}